/* font-family: 'Noto Sans KR', sans-serif;
Main1(레드): #c60000
Main2(브라운):#63371a
Main3(노랑): #ffd000
폰트색: #310f00, #fff
배경색(라이트 브라운): #8b6044
구분선: #f2f2f2

컨텐츠 너비: 1200px
로고: 정사각형로고-(0,0) 246*246
*/

body { background: #ffd000; }

/* 메인 컨텐츠 컨테이너 */
.container {  border:0px solid blue;
    position:relative;
    padding-top:30px;
    padding-bottom:45px;
    width:100%; min-height: calc(100vh - 220px);
    text-align:center;
    background: #ffd000;
}
.container .inner { border:0px solid red;
    width:1200px;
    margin:0 auto;
    height: 620px;
    display:flex; justify-content:center; align-items:flex-end;
    position:relative;
}

/* 컨테이너 - 메인 컨텐츠 */
.container .inner #content-main { outline:0px solid black;
    width:1200px; height:520px;
    position:absolute; top:0;left:0;
    box-shadow:10px 8px 12px 9px rgba(49, 15, 0, 0.3);
    display:flex;
}
.container .inner #content-main .blank { 
    width:1200px; height:520px;
    display:block;
    position:absolute;
    outline:0px solid pink;
}

/* 지구 그림 */
.container .inner #content-main .content-main-c {
    width:1200px; height:414px;
    position:absolute; top:20px;
}
.container .inner #content-main .content-main-c:after{
    content:''; display:block;
    position:relative; top:-8%; margin:0 auto; /*391px*/
    width:30%; height:20px;
    box-shadow: 0 50px 10px rgba(0,0,0,0.2);
    border-radius:100%; 
    animation: globe_shadow_ani 1s cubic-bezier(0.54, 0.14, 0.14, 0.81)infinite alternate;
    animation-fill-mode:forwards;
}    
.container .inner #content-main .content-main-c .globe {
    cursor:pointer;
    display:block; width:610px; height:400px;
    position:relative; top:0;left:0; margin:1% auto;
    animation: globe_ani 1s cubic-bezier(0.54, 0.14, 0.14, 0.81)infinite alternate;
    animation-fill-mode:forwards;
}

@keyframes globe_ani {
    0% { top:20px; }
    100% { top:0px; }
}
@keyframes globe_shadow_ani {
    0% { bottom:-392px; }
    100% { bottom:-392px; width:20%; }
}

/* 큰그림 바꾸기 메뉴 */
.container .inner .content-list { 
    border:1px solid #ffd000; 
    border-radius:5px; box-shadow:2px 2px 2px rgba(49, 15, 0, 0.3);
    width:140px; height:35px; line-height:32px;
    margin-bottom:15px;
    background:#63371a; color:#fff;
    font-weight:200; font-size:0.9rem;
}
.container .inner .content-list .content { outline:0px solid blue;
    width:100%; height:520px;
    position:absolute; top:0; left:0;
    display:none;
    z-index:1;
} 
.container .inner .content-list .content img {
    width:100%; height:100%;
}
.container .inner .content-list:hover {
    color:coral;
}
.container .inner .content-list:hover .content {
    display:block;
}

/* 컨테이너 - bottom menubar 하단 메뉴 */
.container .bottom-menubar {
    /* border-top:1px dotted #63371a;; */
    width:1200px;
    height:60px;
    position:relative; margin:0px auto; 
    display:flex; align-items:center;   
}
.container> .bottom-menubar> .bottom-menubtn {
    border:0px solid #63371a; 
    box-shadow:2px 2px 3px rgba(49, 15, 0, 0.4);
    margin:0 5px;
    width:130px; height:30px; line-height:30px;
    background: #ffd000; color:#310f00;
    cursor:pointer;
}
.container> .bottom-menubar> .bottom-menubtn:hover {
    color:coral;
}
.container> .bottom-menubar> .bottom-menubtn:active {
    box-shadow:inset 1px 1px 4px rgba(49, 15, 0, 0.4);
}
.container>.bottom-menubar> #sns { 
    width:160px; height:50px;
    text-align:right;
    position:absolute; right:0;
} 
.container .bottom-menubar #sns div { 
    display:inline-block;
    width:35px; height:50px;
    position:relative; 
    font-size:1.4rem; color: #310f00;
    text-align:center; line-height:50px;
    cursor:pointer;
}

/*                               모바일                              */

.container .inner #content-main .blank-m { 
    width:100%; height:520px;
    display:none;
    position:absolute;
}
.container .inner .content-list .content_m { 
    width:100%; height:520px; /*inner== width:760px*/
    position:absolute; top:0; left:0;
    display:none;
    z-index:1;
    background-size: contain;
} 
.container .inner_m {
    display:none;
    margin-top:30px;
    font-family: 'Hammersmith One', sans-serif;
}
.container .inner_m h1 {
    height:fit-content; 
    margin-top:50px;
    margin-bottom:50px;
    font-size:1rem;
}
.container .inner_m h1:first-child {
    margin-top:0;
}
.container .inner_m h1:after {
    content:''; display:block; width:7%; 
    transform:translateX(666%);
    border-bottom:5px solid coral;
}
.container .inner_m .banner_m {
    width:100%;
}
.container .inner_m .banner-brand {
    border:1px solid black;
    width:100%; height:200px;  
    margin:10px 0;
}
.container .inner_m .banner-company{
    height:180px;
}
.container .inner_m .banner-sns{
    height:500px;
}
.container .inner_m .banner-company div {
    width:100%; height:50%;
}
.container .inner_m .banner-company div:nth-child(1) {
    background:url(../images/m_banner3.png) no-repeat;
    background-position: start;
    background-size:cover;
}
.container .inner_m .banner-company div:nth-child(2) {
    background:url(../images/m_banner4.png) no-repeat;
    background-position: start;
    background-size:cover;
}

.container .inner_m .banner-brand .banner-img_m {
    width:100%; height:150px;
    display:flex; justify-content:space-around;
}
.container .inner_m .banner-brand .banner-txt_m {
    width:100%; height:50px;
    margin-top:3px;
    display:flex; justify-content:space-around;
}
.container .inner_m .banner-brand .banner-txt_m p{
    border:1px solid black;
    text-align: center; line-height:20px;
    flex:1;
}
.container .inner_m .banner-brand .banner-img_m div {
    flex:1;
}
.container .inner_m .banner-brand .banner-img_m div:nth-child(1) {
    background:url(../images/m_banner1.png) no-repeat;
    background-position: center;
    background-size:contain;
    margin-right:3px;
}
.container .inner_m .banner-brand .banner-img_m div:nth-child(2) {
    background:url(../images/m_banner1.png) no-repeat;
    background-position: center;
    background-size:contain;
    margin-left:3px;
}
.container .inner_m .banner-sns .sns_m {
    width:70%; margin:10px auto;
    display:flex; justify-content:space-around;
    color:#e7451c;
}
.container .inner_m .banner-sns .sns_m div {
    width:30px;height:30px; line-height:30px;
    background-color:white;
    border-radius:50%;
    border:1px solid #e7451c;
}
.container .inner_m .banner-sns .instagram {
    width:100%; height:410px;
    margin-top:20px;
    position:relative;
}
.container .inner_m .banner-sns .instagram .insta-title {
    color: coral;
    height:25px;
    margin-bottom:15px;
}
.container .inner_m .banner-sns .instagram .insta-img {
    width:100%; height:410px;
    display:grid; grid: '. . .';
    row-gap:0.5%;
    column-gap:0.5%;
    grid-template-rows: 30% 30% 30%;
    grid-template-columns: 33%;
}
.container .inner_m .banner-sns .instagram .insta-img div {
    cursor:pointer;
}
.container .inner_m .banner-sns .instagram .m_modal {
    background: rgba(0,0,0,0.5);
    position:absolute; top:40px; left:0;
    width:100%; height:378px;
    cursor:pointer;
    display:none;
}
.container .inner_m .banner-sns .instagram .m_modal .m_modal-cont{
    background:white;
    position:absolute; top:20px; left:20px;
    width: 300px; height:300px;
    display:none;
}
.container .inner_m .banner-sns .instagram .insta-img div:nth-child(1) {
    background: url(../images/choco_1.jpg) no-repeat;
    background-size:100% 100%;
}
.container .inner_m .banner-sns .instagram .insta-img div:nth-child(2) {
    background: url(../images/choco_2.jpg) no-repeat;
    background-size:100% 100%;
}
.container .inner_m .banner-sns .instagram .insta-img div:nth-child(3) {
    background: url(../images/choco_3.jpg) no-repeat;
    background-size:100% 100%;
}
.container .inner_m .banner-sns .instagram .insta-img div:nth-child(4) {
    background: url(../images/choco_4.jpg) no-repeat;
    background-size:100% 100%;
}
.container .inner_m .banner-sns .instagram .insta-img div:nth-child(5) {
    background: url(../images/choco_1.jpg) no-repeat;
    background-size:100% 100%;
}
.container .inner_m .banner-sns .instagram .insta-img div:nth-child(6) {
    background: url(../images/choco_1.jpg) no-repeat;
    background-size:100% 100%;
}
.container .inner_m .banner-sns .instagram .insta-img div:nth-child(7) {
    background: url(../images/choco_1.jpg) no-repeat;
    background-size:100% 100%;
}
.container .inner_m .banner-sns .instagram .insta-img div:nth-child(8) {
    background: url(../images/choco_1.jpg) no-repeat;
    background-size:100% 100%;
}
.container .inner_m .banner-sns .instagram .insta-img div:nth-child(9) {
    background: url(../images/choco_1.jpg) no-repeat;
    background-size:100% 100%;
}

@media screen and (max-width:1260px) and (min-width:768px) {
    header, footer { min-width:auto; }
    .container .inner { width:760px; }
    .container .inner #content-main { width:760px; }
    .container .inner #content-main .blank { display:none; }
    .container .inner #content-main .blank-m { display:block; }
    .container .inner #content-main .content-main-c { width:760px; }
    .container .bottom-menubar { width:80%; }
    .container .inner .content-list:hover .content {
        display:none;
    }
    .container .inner .content-list:hover .content_m {
        display:block;
    }
}
@media screen and (max-width:767px) {
    header, footer { min-width:auto; width:100%;}
    .container { min-height: none; }
    .container .bottom-menubar { display:none; }
    .container .inner { width:90vw; height:88vw;  }
    .container .inner #content-main { width:90vw; height:100%; }
    .container .inner .content-list { display:none; }
    .container .inner #content-main .blank { display:none; }
    .container .inner #content-main .blank-m { display:block; height:100%;}
    .container .inner #content-main .content-main-c { width:90vw; }
    .container .inner #content-main .content-main-c .globe {
        width:82vw; height:58vw;
    }
    .container .bottom-menubar { width:80%; }
    .container .inner .content-list:hover .content {
        display:none;
    }
    .container .inner .content-list:hover .content_m {
        display:block;
    }
    .container .inner_m {
        display:block;
    }
}



