.container {
    border:0px solid black;
    min-width:100%;
}
.container .inner {
    width:100%; 
    display:block;
}
.container>.inner >h1,
.container>.inner > .content> h2,
.container .inner .content .depth {
    display:none;
}
.container> .inner> .snb {
    width:68%; height:40px;
    margin:0 auto;
    padding-top:50px;
    padding-bottom:50px;
    display:flex; justify-content: center;
    position:relative; left:0; z-index:120;
    border-radius:0;
    background:none;
}
.container .inner .snb ul{
    display:flex;
}
.container .inner .snb ul li {
    height:40px; line-height:40px; 
    text-indent:0px; text-align:center;
    cursor:pointer;
    transition:height 0.8s;
    overflow:hidden;
    border:1px solid coral;
} 
.container .inner .snb ul li:first-child {
    margin-top:0px;
}
.container .inner .snb ul li:after {
    border-bottom:none;
}
.container .inner .snb ul li .snb-list-dep2 { 
    width: 100%; height: 40px;
    line-height:40px;
    text-indent:0px;
    background-color:#fff;
    border-top:1px solid rgba(255, 127, 80, 0.2);
 }


/* 신제품 */
.container .inner .content .product { 
    grid:repeat(3, 1fr) / auto-flow;
}
/* 초코파이 하우스 */
.container .inner .content .cont-chocopie .chocopie-detail img {
    width:auto;
    position:absolute; top:195px; left: 180px;
}
.container .inner .content .cont-chocopie .chocopie-detail .chocopie-img-detail {
    margin-left:-120px;
}
.container .inner .content .cont-chocopie .chocopie-detail .chocopie-img-detail .chocopie-detail-list .img-pointer3 .detail-biscuit {
    left:160px;
}
.container .inner .content .cont-chocopie .chocopie-detail .chocopie-img-detail .chocopie-detail-list .img-pointer4 .detail-snow {
    left:150px;
}
/* 마켓오 네이쳐 그래놀라 */
.container .inner .content .shelf .shelf-box {
    grid-template-columns:repeat(3, 1fr);
}
.container .inner .content .shelf .shelf-box-txt {
    grid-template-columns: repeat(3, 1fr); 
}

/* 그래놀라, 그래놀라 바 이미지 팝업 */

.gran-modal .gran-modal-cont {  
    position:absolute; top:200px; left:15%;
    width:60%; z-index:99;
    border-radius:20px;
}
/* 회사소개 */
.container .inner .content .history .history-year {
    position:absolute; top:170px; left:0px;
    padding-left:0px;
}
.container .inner .content .history .history-year li {
    float:left; width:118px; height:100%;
    text-indent:25px;
}
.container .inner .content .history .history-year li:first-child {
    text-indent:18px;
}
.container .inner .content .history .history-cont .timeline {
    top:82px; left:50px;
    width:710px; height:1px;
    border-bottom:1px solid red;
}   
/* 각 빨간동그라미 별 위치 */
.container .inner .content .history .history-cont .timeline-point:nth-child(2) { left:30px; }
.container .inner .content .history .history-cont .timeline-point:nth-child(3) { left:150px; }
.container .inner .content .history .history-cont .timeline-point:nth-child(4) { left:270px; }
.container .inner .content .history .history-cont .timeline-point:nth-child(5) { left:390px; }
.container .inner .content .history .history-cont .timeline-point:nth-child(6) { left:510px; }
.container .inner .content .history .history-cont .timeline-point:nth-child(7) { left:630px; }
.container .inner .content .history .history-cont .timeline-point:nth-child(8) { left:750px; }









/* 마켓오,닥터유,제주용암수
이미지 하나 있는 페이지 */
.container .inner .content .brand-cont,
.container .inner .content .jeju {
    width:100%;
    position:relative;
}
.container .inner .content .brand-cont img,
.container .inner .content .jeju img {
    display:block;
    position:relative;
    margin-top:50px;
    width:70%;
}
.container .inner .content .brand-cont .marketO-img__small {
    width:100%;
}
.container .inner .content .brand-cont img:nth-child(2) {
    margin-top:0;
}