.container {
    border:0px solid black;
    min-width:100%;
}
.container .inner {
    width:100%; 
    display:block;
    padding-top:80px;
}
.container .inner .content p,
.container .inner .content h2 {
    padding-left:0;
    text-indent:10px;
}

.container>.inner >h1,
.container>.inner > .content> h2,
.container .inner .content .depth {
    display:none;
}
.container> .inner> .snb {
    width:95%; height:40px;
    margin:0 auto;
    padding-top:50px;
    padding-bottom:50px;
    display:flex; justify-content: center;
    position:relative; left:0; z-index:120;
    border-radius:0;
    background:none;
}
.container .inner .snb ul{
    display:flex;
}
.container .inner .snb ul li {
    height:40px; line-height:40px; 
    text-indent:0px; text-align:center;
    cursor:pointer;
    transition:height 0.8s;
    overflow:hidden;
    border:1px solid coral;
} 
.container .inner .snb ul li:first-child {
    margin-top:0px;
}
.container .inner .snb ul li:after {
    border-bottom:none;
}
.container .inner .snb ul li .snb-list-dep2 { 
    width: 100%; height: 40px;
    line-height:40px;
    text-indent:0px;
    background-color:#fff;
    border-top:1px solid rgba(255, 127, 80, 0.2);
 }


/*              메인 컨텐츠            */
.container .inner .content_m .main_m {
    border:0px solid black;
    width:100%;
    position:absolute;
    display:none;
}
.container .inner .content_m .main1_m {
    display:block;
}
.container .inner .content_m .main_m img {
    display:block;
    position:relative; margin:0 auto;
    margin-top:60px;
    width:70%;
}
.container .inner .content_m .main_m .brand-cont {
    border:2px solid red;
}

.container .inner .content_m .main2_m {
  
}
/* 신제품 */
.container .inner .content .product { 
    grid:'. .'; justify-content:center;
}
.container .inner .content .product .product-list{
    height:195px; width:90%;
    margin:0;
}
/* .container .inner .content .product .product-list {
    width:100%; height:215px;
    margin-left:2%; margin-right:2%;
} */
.container .inner .content .product-modal .product-modal-cont{
    position:absolute; top:200px; left:5%;
    width:90%; height: 520px;
    border-radius:20px;
}
/* 초코파이 하우스 */
.container .inner .content .cont-chocopie .chocopie-flavor ul .flavor-img:nth-child(odd) { margin-right:0px; }

.container .inner .content .cont-chocopie .chocopie-detail img {
    width:300px;
    position:absolute; top:130px; left: 23%;
}
.container .inner .content .cont-chocopie .chocopie-detail {
    height:650px;
}
.container .inner .content .cont-chocopie .chocopie-detail .chocopie-img-detail {
    height:520px;
}
.container .inner .content .cont-chocopie .txt-hover {
    display:none;
}
.container .inner .content .cont-chocopie .chocopie .txt-large{ 
    font:normal 1.8rem Noto Sans KR;
}
.container .inner .content .cont-chocopie .chocopie-detail .chocopie-img-detail .chocopie-detail-list .img-pointer {
    display:none;
}
.container .inner .content .cont-chocopie .chocopie-gift div img {
    width:70%;
}
.container .inner .content .cont-chocopie .chocopie-flavor {
    height:1500px;
}
.container .inner .content .cont-chocopie .chocopie-flavor ul {
    width:100%; margin:80px auto;
}
.container .inner .content .cont-chocopie .chocopie-flavor  ul .flavor-img { 
    width:100% ;
    display:flex; justify-content:center;
}
.container .inner .content .cont-chocopie .chocopie-flavor  ul .flavor-img:after,
.container .inner .content .cont-chocopie .chocopie-flavor  ul .flavor-img .img-txt2  {
    display:none;
}
.container .inner .content .cont-chocopie .chocopie-flavor  ul .flavor-img img {
    width:60%;
}
.container .inner .content .cont-chocopie .chocopie-flavor  ul .flavor-img .img-txt {
    width:100%; height:150px; 
    line-height:150px;
    text-indent:30px;
}
.container .inner .content .cont-chocopie .chocopie-gift div ul li p { font-size:2vh; line-height:2;}
.container .inner .content .cont-chocopie .chocopie-gift div ul li p:nth-child(2) { font-size:1vh; }
.container .inner .content .cont-chocopie .chocopie-gift div ul li { 
    width:30%
}
/* 점포 */
.container .inner .content .store-box .store-list {
    width:100%;
    margin:0px auto;
    margin-top:40px;
}    
.container .inner .content .store-box .store-list img {
    display:block;
    width:100%;
}


/* 마켓오 네이쳐 그래놀라 */
.container .inner .content .shelf .shelf-box {
    grid-template-columns:repeat(2, 1fr);
}
.container .inner .content .shelf .shelf-box-txt {
    grid-template-columns: repeat(2, 1fr); 
}
.container .inner .content .product .product-list:after {
    display:none;
}
.container .inner .content .product-modal .product-modal-cont{
    width:90%; height:600px;
}

/* 그래놀라, 그래놀라 바 이미지 팝업 */
.gran-modal .gran-modal-cont {  
    position:absolute; top:200px; left:5%;
    width:90%; height: 520px;
    border-radius:20px;
}
.gran-modal .gran-modal-cont p {
    text-indent:25px; padding-right:25px;
}


/*                    고객의견                   */
.container .inner .content .cont-customer {
    width:100%;
    padding:10px;
}
.container .inner .content .cont-customer div input[name="writer"]{
    width:140px;
}
.container .inner .content .cont-customer div input[name="title"]{
    width:90%;
}
.container .inner .content .cont-customer label[for="question-select"] { width:100px;}
.container .inner .content .cont-customer #question-select {
    height:30px;
}
.container .inner .content .cont-customer textarea[name="content"] {
    width:90%; height:400px;
    border:1px solid #bbbbbb;
    padding:10px; font: normal 1rem normal;
    resize:none;
}
.container .inner .content .cont-customer button {
    width:100px; height:40px;
    margin:30px auto;
    border:none;
    cursor:pointer;
}
/*                    회사소개                  */
/* 연혁 */
.container .inner .content .pc,
.container .inner .content .history-title,
.container .inner .content .history { display: none; }
.container .inner .content .history_m { display:block; }
.container .inner .content .history_m ul {
    margin-top:70px;
    width:100%; 
}
.container .inner .content .history_m ul li {
    width:100%; display:flex;
    padding-bottom:15px;
}
.container .inner .content .history_m ul li div:nth-child(1) {
    text-indent:25px; flex:1;
}
.container .inner .content .history_m ul li div:nth-child(2) {
    flex:2; padding-right:25px;
}
/* 채용 */
.container .inner .recruit input {
    width:90%;height:68px;
    text-indent:10px; font-size:1.2rem;
}
/* 윤리경영, 오시는 길 */
.container .inner .content .company {
    margin-top:25px; margin-left:20px;
    height:700px;
}
.container .inner .content .company p {
    font-size:1.3rem;
    padding:10px;
}
.container .inner .content .company img {
    width:90vw;
}

/* 마켓오,닥터유,제주용암수
이미지 하나 있는 페이지 */
.container .inner .content .brand-cont,
.container .inner .content .jeju {
    width:100%;
    position:relative;
}
.container .inner .content .brand-cont img,
.container .inner .content .jeju img {
    display:block;
    position:relative;
    margin-top:50px;
    width:70%;
}
.container .inner .content .brand-cont .marketO-img__small {
    width:100%;
}
.container .inner .content .brand-cont img:nth-child(2) {
    margin-top:0;
}